body {
    height: 100%;
    background: #222226;
}

.body-content {
    min-height: calc(100vh - 150px);
    margin-top: 50px;
}

input,
select,
textarea {
    max-width: 280px;
}

.wrapper {
    width: 965px;
    height: 100%;
    margin: auto;
}

/*Validation classes*/
.input-validation-error {
    border-color: #dc3545;
}
