################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Mixtr/.vs/
/Mixtr/Mixtr/bin/
/Mixtr/Mixtr/obj/
/Mixtr/packages
