################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Mixtr/Mixtr/bin/Release/Publish
/Mixtr/Mixtr/obj
