<footer class="footer">
    <div class="wrapper">
        <div class="text-center">
            <span class="text-muted">Copyright &copy;@DateTime.Now.Year - Mixtr</span>
        </div>
    </div>
</footer>
