<nav class="top-bar">
    <div class="wrapper">
        <a class="navbar-brand" href="/">
            Mixtr
        </a>
        <button id="navbar_addPlaylistBtn" class="btn btn btn-outline-light" data-toggle="modal" data-target="#add-playlist-modal">Add playlist</button>
    </div>
</nav>
